<header class="site-header">
  <div class="container header-inner">
    <a href="{{root}}index.html" class="site-logo">
      <img src="{{root}}resources/logo-nt.png" alt=""/>
      Rat Haven Studios
    </a>
    <ul class="site-nav">
      <li><a href="{{root}}index.html" data-nav="home">Home</a></li>
      <span class="nav-sep">|</span>
      <li><a href="{{root}}pages/nav/games.html" data-nav="games">Games</a></li>
      <span class="nav-sep">|</span>
      <li><a href="{{root}}pages/nav/devlogs.html" data-nav="devlogs">Devlogs</a></li>
      <span class="nav-sep">|</span>
      <li><a href="{{root}}pages/nav/workshop.html" data-nav="workshop">Workshop</a></li>
      <span class="nav-sep">|</span>
      <li><a href="{{root}}pages/nav/developers.html" data-nav="developers">Devs</a></li>
    </ul>
  </div>
</header>
